.modal-captura {
    max-width: 1000px;
}

.recorrido-alerta {
    background: #fecaca;
    color: #991b1b;
    font-weight: bold;
}

.check-captura {
    width: 18px;
    height: 18px;
    cursor: pointer;
}